header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: transparent;
    transition: ease-in-out .5s;
    z-index: 998;
}

header.black {
    background-color: #141414;
}

.header--logo {
    height: 2.5rem
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 3.5rem;
}

.header--user img {
    height: 100%;
    border-radius: .3rem;
}