.lists {
    margin-top: -15rem;
}

footer {
    margin: 5rem 0;
    text-align: center;
    color: #999;
    font-size: 1.6rem;
}

footer a {
    color: #999;
}

.footer--c {
    font-size: 1.4rem;
    margin-top: .8rem;
}

.footer--c a {
    text-decoration: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.loading img {
    transform: scale(.3);
}

@media (max-width: 76rem) {
    .lists {
        margin-top: -5rem;
    }
}